@import '~/assets/css/vars.css';
@import '~/assets/css/fonts.css';
@import '~/assets/css/normalize.css';

*,
:after,
:before {
  box-sizing: border-box;
}

html,
body,
#__nuxt {
  min-width: 360px;
  height: 100%;
  font-family: 'Euclid Flex', sans-serif;
  font-size: 18px;
  color: var(--base-f);
  background-color: var(--base-bg);
  transition: background-color var(--base-tr);
  &.light {
    background-color: var(--white);
  }
}

::-webkit-scrollbar {
  width: 9px;
  height: 9px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 9px;
  background-color: #484848;
}

::-webkit-scrollbar-track {
  background-color: #27272a;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  main.page {
    flex-grow: 1;
  }
}

.container {
  padding-right: var(--contpadding);
  padding-left: var(--contpadding);
}

button,
a {
  padding: 0;
  border: none;
  text-decoration: none;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  outline-offset: 2px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

button:disabled {
  cursor: default;
  opacity: 0.5;
}

input {
  border-radius: 0;
  outline: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: 400;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
