.header {
  --header-pt: 36px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  width: 100%;
  padding-top: var(--header-pt);
  background-color: transparent;
  z-index: var(--z-header);
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 0.78px;
}

.header__controls {
  display: flex;
  align-self: stretch;
  align-items: center;
  gap: 10px;
}

.burger-btn {
  --burger-width: 36px;
  width: var(--burger-width);
  height: 100%;
  min-height: 30px;
}

.burger-btn::after,
.burger-btn::before {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  margin-top: 10px;
  background-color: var(--white);
  transition: transform var(--base-tr);
}
.burger-btn::before {
  margin-top: 0;
}

.burger-btn.open::after,
.burger-btn.open::before {
  transform: rotate(-225deg) translateY(4px) translateX(-4px);
}
.burger-btn.open::before {
  margin-top: 0;
  transform: rotate(225deg) translateY(-5px) translateX(-4px);
}

.menu-overlay {
  position: fixed;
  inset: 0;
  top: var(--header-h);
  pointer-events: none;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  background: radial-gradient(#1d1d1d, #181818);
}

.menu-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 100%;
  padding-bottom: 70px;
}

.nav ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  li {
    overflow: hidden;
  }
}

.big-menu {
  display: flex;
}

.desktop-hidden {
  display: none;
}

/* br mobile */
@media (max-width: 767px) {
  .header {
    --header-pt: 20px;
    --burger-width: 30px;
  }

  .logo {
    gap: 6px;
    svg {
      width: 26px !important;
      height: 18px !important;
      .up-path {
        fill: #3a3a3a;
      }
      .down-path {
        fill: #212120;
      }
    }
    .logo-txt {
      font-size: 10px;
      text-transform: uppercase;
      transition: transform var(--base-tr);
    }
  }

  .menu-wrapper {
    padding-bottom: 85px;
    .big-menu {
      font-size: 46px;
      font-weight: 400;
      line-height: 110%;
    }
  }

  .desktop-hidden {
    display: list-item;
  }

  .burger-btn {
    --burger-width: 30px;
  }

  .lead-btn {
    display: none;
  }
}
