.first-screen {
  position: relative;
}

.first-screen__content {
  position: relative;
  padding-top: var(--header-h);
  z-index: 1;
}

.title-wrapper {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  gap: 30px;
  max-width: 510px;
  .title {
    grid-column: 1/3;
    margin-top: 95px;
  }
  img {
    border-radius: 10px;
    width: 126px;
  }
}

.hero-wrapper {
  position: relative;
}

.hero {
  position: relative;
  max-width: 100%;
  width: 750px;
  height: 610px;
  margin: 0 auto;
  border: 1px solid blue;
}

.point-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border: 1px solid var(--white);
  border-radius: 50%;
  font-size: 26px;
  font-weight: 300;
  line-height: 120%;
  background-color: rgba(24, 24, 24, 0.8);
  backdrop-filter: blur(2px);
  transition: color var(--base-tr), border-color var(--base-tr);
}

.point-btn:active,
.point-btn.active {
  border-color: var(--blue);
  color: var(--blue);
}

@media (hover: hover) {
  .point-btn:hover {
    border-color: var(--blue);
    color: var(--blue);
  }
}

.btn-wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1px solid tomato;
}

.p1 {
  top: 2%;
  right: 22%;
}
.p2 {
  top: 29%;
  left: 35%;
}
.p3 {
  left: 11%;
  bottom: 20%;
}
.p4 {
  bottom: 17%;
  right: 13%;
}

/* br tablet */
@media (max-width: 1270px) {
}

/* br mobile */
@media (max-width: 767px) {
}
