.portfolio {
  padding-bottom: 80px;
  background-color: var(--white);
}

.h3 {
  margin-bottom: 40px;
  color: var(--black);
}

.image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  aspect-ratio: 10/5;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* br tablet */
@media (max-width: 1270px) {
}

/* br mobile */
@media (max-width: 767px) {
  .portfolio {
    padding-bottom: 55px;
  }
  .h3 {
    margin-bottom: 30px;
  }
  .image-wrapper {
    aspect-ratio: 1/1;
  }
}

/* br mobile */
@media (max-width: 500px) {
  .image-wrapper {
    aspect-ratio: 9/14;
  }
}
